<!--	<h2>Calculator</h2>	-->
 <form method="post" action="/calculate"> 
<!--	<form action="/calculate">	-->
   <input type="number" value="0", name="left"> 
   <input type="number" value="0", name="right"> 
   <br>
   <div>
   <button name="action" value="sum">+</button> 
   <button name="action" value="difference">-</button> 
   <button name="action" value="product">*</button> 
   <button name="action" value="quotient">/</button> 
   <button name="action" value="modulo">%</button> 
   <button name="action" value="exponent">^</button> 
   </div>
  </form>  

<!--	<h2>Add some numbers</h2>	-->
<!--	<form action="/sum" method="post">	-->
<!--		<input type="number" name="left">	-->
<!--		+	-->
<!--		<input type="number" name="right">	-->
<!--		<button>Calculate!</button>	-->
<!--	</form>	-->